body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label {
    margin-right: 10px;
}

select, input[type="date"] {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0077B5;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead th, tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

thead th {
    background-color: #333;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
